@page "{id:int}"
@model AR_Navigation.Pages.Buildings.DetailModel
@{
    Layout = "_AdminLayout";
}
<style>
    .selected-image-container {
        width: 1300px;
        height: 400px;
        border: 2px solid #ced4da;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        position: relative;
    }

        .selected-image-container img {
            width: 100%;
            height: 260px;
            display: block;
            margin-bottom: 10px;
        }



    .zoom-btn {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    .img-magnifier-glass {
        position: absolute;
        border: 3px solid #000;
        border-radius: 50%;
        cursor: none;
        width: 100px;
        height: 100px;
    }

    .selected-image-container2 {
        width: 400px;
        height: 200px;
        border: 2px solid #ced4da;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

        .selected-image-container2 img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 8px;
        }
</style>
<div class="page-header no-gutters">
    <h1>Building Detail</h1>
    <div class="row align-items-md-center">
        <div class="col-md-12">
            <div class="text-md-right m-v-10" id="button-change">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Building Name -->
    <div class="building-name">
        <h2 id="building-name"></h2>
    </div>

    <!-- Floor Name -->
    <div class="form-group">
        <label for="floor-select">Floor :</label>
        <select class="form-control" id="floor-select">
            <!-- Dynamically populated floor options will go here -->
        </select>
    </div>
    <div class="image-controls">
        <button class="zoom-btn" id="zoom-in-btn"><i class="fas fa-plus"></i></button>
        <button class="zoom-btn" id="zoom-out-btn"><i class="fas fa-minus"></i></button>
    </div>
    <!-- Map Image -->
    <div class="selected-image-container" id="map-images-container">
        <img id="map-image" src="~/assets/images/others/img-13.jpg" alt="Map Image">
    </div>
</div>

@* Modal Map Image*@
<div class="modal fade" id="add-edit-MapImage-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Map Image</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-page="/Buildings/Detail" asp-page-handler="AddOrEditMap" id="form-add-edit-mapImage" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="FloorId" id="floor-id" value="">
                    <div class="form-group">
                        <label for="new-map-name">Map Name</label>
                        <input type="text" class="form-control" id="new-map-name" placeholder="Please input Map name" required>
                    </div>
                    <div class="form-group">
                        <label for="edit-mapp-image">Image</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="ImageFile" class="custom-file-input" id="add-edit-mapImage" aria-describedby="inputGroupFileAddon" onchange="displaySelectedImage(this, 'edit-selected-image-container')">
                                <label class="custom-file-label" for="edit-mapp-image">Choose file</label>
                            </div>
                        </div>
                        <div id="edit-selected-image-container" class="selected-image-container2" style="margin-top: 10px;"></div>
                    </div>
                    <button type="button" class="btn btn-primary" id="add-edit-map-btn">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Lấy buildingId từ URL
        var buildingId = window.location.pathname.split("/").pop();

        //Get data builind Detail
        $.ajax({
            url: `https://localhost:7186/api/buildings/${buildingId}`,
            type: 'GET',
            success: function (building) {
                // Cập nhật tên tòa nhà
                $('#building-name').text(building.buildingName);

                // Gửi AJAX request để lấy thông tin về các tầng của tòa nhà
                $.ajax({
                    url: `https://localhost:7186/api/floors?$filter=buildingId eq ${buildingId}`,
                    type: 'GET',
                    success: function (floors) {
                        // Tạo danh sách các tầng
                        var floorOptions = '';
                        floors.forEach(function (floor) {
                            floorOptions += `<option value="${floor.floorId}">${floor.floorName}</option>`;
                        });
                        $('#floor-select').html(floorOptions);

                        // Chọn tầng đầu tiên mặc định
                        if (floors.length > 0) {
                            var defaultFloorId = floors[0].floorId;
                            updateMapImage(defaultFloorId);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching floors:', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred while loading floors.'
                        });
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                // Xử lý lỗi nếu có
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred while loading building details.'
                });
            }
        });

        $('#button-change').on('click', function () {
            // Open the modal
            $('#add-edit-MapImage-modal').modal('show');
        });

        // Event that listens when the user selects a new floor
        $('#floor-select').change(function () {
            var selectedFloorId = $(this).val();
            updateMapImage(selectedFloorId);
        });

        //update map image by floor
        function updateMapImage(floorId) {
            $.ajax({
                url: `https://localhost:7186/api/maps?$filter=floorId eq ${floorId}`,
                type: 'GET',
                success: function (maps) {
                    if (maps.length > 0) {
                        // var mapImages = '';
                        // maps.forEach(function (map) {
                        //     mapImages += `<img src="/Images/${map.image2D}" alt="Map Image">`;
                        // });
                        var mapImages = `<img id="map-image" src="/Images/${maps[0].image2D}" alt="Map Image">`;
                        $('#map-images-container').html(mapImages);
                        $('#button-change').html(`
                                                             <button class="btn btn-primary" id="edit-map-button" data-id="${maps[0].mapId}" data-toggle="modal" data-target="#add-edit-MapImage">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-5">Edit Map</span>
                                                             </button>
                                                    `);
                        $('#add-edit-map-btn').click(function () {
                            var mapid = maps[0].mapid;
                            editmap(mapid);
                        });
                    } else {
                        $('#button-change').html(`
                                                  <button class="btn btn-primary" id="add-map-button" data-toggle="modal" data-target="#add-edit-MapImage">
                                                        <i class="anticon anticon-plus"></i>
                                                        <span class="m-l-5">Add Map</span>
                                                </button>
                                                    `);
                        console.log('No map found for the specified floor.');
                        $('#add-edit-map-btn').click(function () {
                            addNewMap();
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching map details:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while loading map details.'
                    });
                }
            });
        }
        //Add new Map
        function addNewMap() {
            var mapName = $('#new-map-name').val();
            var floorId = $('#floor-select').val();
            var imageInput = $('#add-edit-mapImage');

            var formData = new FormData();

            formData.append('MapName', mapName);
            formData.append('FloorId', floorId);
            if (imageInput[0].files.length > 0) {
                var imageFile = imageInput[0].files[0];
                formData.append('Image2D', imageFile);
            }
            $.ajax({
                url: 'https://localhost:7186/api/maps',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log('Map added successfully:', response);
                    Swal.fire({
                        icon: 'success',
                        title: 'Map added successfully!',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        $('#form-add-edit-mapImage').submit();
                    });
                    $('#add-edit-MapImage-modal').modal('hide');
                },
                error: function (xhr, status, error) {
                    console.error('Error adding map:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while adding the map.'
                    });
                }
            });
        }
        //Khi ấn save
        $('#add-edit-map-btn').click(function () {
            var mapId = $('#edit-map-button').data('id');
            editMap(mapId);
        });
        //Edit Map
        function editMap(mapId) {
            var mapName = $('#new-map-name').val();
            var floorId = $('#floor-select').val();
            var imageInput = $('#add-edit-mapImage');

            var formData = new FormData();
            formData.append('MapName', mapName);
            formData.append('FloorId', floorId);
            formData.append('MapId', mapId);
            if (imageInput[0].files.length > 0) {
                var imageFile = imageInput[0].files[0];
                formData.append('Image2D', imageFile);
            }

            $.ajax({
                url: `https://localhost:7186/api/maps/${mapId}`,
                type: 'PUT',
                data: formData,
                contentType: false,
                processData: false,
                success: function (mapDetails) {
                    console.log('Map update successfully:', mapDetails);
                    Swal.fire({
                        icon: 'success',
                        title: 'Map update successfully!',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        $('#form-add-edit-mapImage').submit();
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching map details for editing:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while loading map details for editing.'
                    });
                }
            });
        }
        $(document).on('click', '#edit-map-button', function () {
            var mapId = $(this).data('id');
            showEdit(mapId);
        });
        //show map info
        function showEdit(mapId) {
            $.ajax({
                url: `https://localhost:7186/api/maps/${mapId}`,
                type: 'GET',
                success: function (map) {
                    $('#new-map-name').val(map.mapName);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching map details:', error);
                    alert('An error occurred while fetching map details.');
                }
            });
        }
        //Update size image
        function updateImageSize(factor) {
            var currentWidth = $('#map-image').width();
            var currentHeight = $('#map-image').height();
            var newWidth = currentWidth * factor;
            var newHeight = currentHeight * factor;
            $('#map-image').css({
                'width': newWidth,
                'height': newHeight
            });
        }

        // Sự kiện click cho nút Zoom In
        $('#zoom-in-btn').click(function () {
            updateImageSize(1.2); // Tăng kích thước lên 20%
        });

        // Sự kiện click cho nút Zoom Out
        $('#zoom-out-btn').click(function () {
            updateImageSize(0.8); // Giảm kích thước đi 20%
        });

        $(document).on("click", "#map-images-container img", function (event) {
            var imageWidth = $(this).width();
            var imageHeight = $(this).height();
            // Điều chỉnh cách tính toán tọa độ y bằng cách lấy độ cao thực tế của hình ảnh trừ cho tọa độ y của sự kiện
            var y = (imageHeight - (event.pageY - $(this).offset().top) - (imageHeight / 2)).toFixed(5);
            var x = (event.pageX - $(this).offset().left - (imageWidth / 2)).toFixed(5);
            alert("X Coordinate: " + x + " Y Coordinate: " + y);
        });

    });
    //get image when selected
    function displaySelectedImage(input, containerId) {
        var file = input.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var imgElement = document.createElement('img');
            imgElement.src = e.target.result;
            imgElement.className = "img-fluid rounded";

            var selectedImageContainer = document.getElementById(containerId);
            selectedImageContainer.innerHTML = '';
            selectedImageContainer.appendChild(imgElement);
        }

        reader.readAsDataURL(file);
    }

</script>
